/*
#ListaJogadores {
    color: green;
}

.Titulo{
    color: aqua;
}
Também dá pra fazer essas alterações numa concatenação
*/

#ListaJogadores, .Titulo{
    color: gold;
    font-style: inherit;
    font-size: 25px;
}
ol li{
    color: blueviolet;
}
