#H1{
    background-color: rgb(22, 75, 96);
    color: white;
}
#H2{
    background-color: #1B6B93;
}
#H3{
    background-color: #4FC0D0;
}
#H4{
    background-color: #A2FF86;
}

h1{
    margin: 0px;
    height: 100px;
    padding: 5px;
}

.redondo{
    background-color: #A2FF86;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid blueviolet;
    margin: 30px;
}
.exemplo{
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    background-color: black;
    height: 100px;
}
.link{
    color: red;
    font-size: 30px;

}
.link:hover{
    color: greenyellow;
}
.link:visited{
    color: pink;
}